<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>371757039932-jjbrjrp34c2ssbb9j2nt7r4lfmqhjbdv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.371757039932-jjbrjrp34c2ssbb9j2nt7r4lfmqhjbdv</string>
	<key>API_KEY</key>
	<string>AIzaSyD-Ih8CQHtcJvTgb-ZoZmjaWHkmEt7D3S8</string>
	<key>GCM_SENDER_ID</key>
	<string>371757039932</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.reditClone</string>
	<key>PROJECT_ID</key>
	<string>reddit-clone-86165</string>
	<key>STORAGE_BUCKET</key>
	<string>reddit-clone-86165.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:371757039932:ios:22ec7b95321d7534ce5e39</string>
</dict>
</plist>